<h2>Detalhes de Cantores</h2>
<hr>
<div class="mb-3 row">
    <div class="col-sm-3">Nome de cantor: </div>
    <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
</div>
<div class="mb-3 row">
    <div class="col-sm-3">descrição: </div>
    <div class="col-sm-9"><strong>{{dados.descricao}}</strong></div>
</div>
<hr>
<a href="/privado/cantores">
    <button type="button" class="btn btn-primary">Fechar</button>
</a>