{{#if areaPrivada}}
<!-- Navbar -->
<nav class="admin-menu navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liks da barra -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="/privado/">
        <img src="/img/Logo.png" alt="Projeto Usuário" height="30px">
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/privado/usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privado/cantores">Cantores</a>
        </li>
      </ul>
    </div>
    <!-- Liks da barra -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Avatar -->
      <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{usuario}}
        </a>
        <ul
         Logout class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="/privado/usuarios/find/{{id}}">Meu Perfil</a>
          </li>
          <li>
            <a class="dropdown-item" href="/privado/sair">Sair</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
{{else}}
<nav class="admin-menu navbar navbar-expand-lg navbar-light bg-light">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0 mx-5" href="/">
        <img src="/img/Logo.png" alt="Projeto Usuário" height="30px">
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
</nav>
{{/if}}
